body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    max-height: 800px;
    margin-top: 20px;
}

.display {
    display: flex;
}

.secondRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    width: 600px;
    height: 90px;
    justify-content: space-between;
}

.thirdRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    width: 600px;
    height: 90px;
    justify-content: space-between;
}

.fourthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    width: 600px;
    height: 90px;
    justify-content: space-between;
}

.fifthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    width: 600px;
    height: 90px;
    justify-content: space-between;
}

.sixthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    width: 600px;
    height: 90px;
    justify-content: space-between;
}

#operator {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 90px;
}

#clear {
    display: flex;
    flex: 1;
}

#number {
    display: flex;
    flex: 1;
}

.dot,
.equal {
    display: flex;
    flex: .47;
}