body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 900px;
}


.secondRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
    align-items: center;
}

.thirdRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
}

.fourthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
}

.fifthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
}

.sixthRow {
    display: flex;
    padding: 5px;
    border: 5px solid pink;
}